{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <title>Document</title>
</head>
<body>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
        <tbody>
            {% for info in receipt_list %}
            <tr>
                <td>{{info.vendor}}</td>
            </tr>
            <tr>
                <td>{{info.total}}</td>
            </tr>
            <tr>
                <td>{{info.tax}}</td>
            </tr>
            <tr>
                <td>{{info.date|date:"m/d/y"}}</td>
            </tr>
            <tr>
                <td>{{info.category.name}}</td>
            </tr>
            <tr>
                <td>{{info.account.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>

    </main>

</body>
</html>
